<% layout("layouts/boilerplate") %>

<body>
    
    <h2>Title : <%=list.title%></h2><br><br>
    <h3>Description : <%=list.description%></h3>
    <h3>Image url : <%=list.image%></h3>
    <h3>Price : <%=list.price%></h3>
    <h3>location : <%=list.location%></h3>
    <h3>Country : <%=list.country%></h3>
</body>
